.nmap {
  margin-left: 100px;
  margin-top: 25px;
  display: flex;
}
.output {
  width: 80%;
}
.flags_container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #34354163;
}

.flags_container p {
  align-self: center;
}
