.aside {
  background-color: #343541;
  position: absolute;
  left: 0;
  top: 60px;
  bottom: 0;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  -ms-overflow-style: none;
}
.aside::-webkit-scrollbar {
  width: 0;
}
.tool_select {
  background-color: transparent;
  width: 70px;
  height: 70px;
  margin: 10px auto;
  cursor: pointer;
}
.tool_select_active {
  border: 3px #ffa500 solid;
}
.tool_select p {
  font-weight: bold;
  font-size: 14px;
  color: #e6e6e6;
}
.tool_select:first-child {
  margin-top: 0;
}
.nmap_icon {
  width: 100%;
  height: 100%;
}
.nmap_icon:active {
  border: 1px solid transparent;
}
