.header {
  width: 100%;
  height: 60px;
  background-color: #343541;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tool_name {
  text-align: center;
  color: #ffa500;
}
.help_button {
  color: #e6e6e6;
  font-size: 60px;
  position: absolute;
  right: 0;
  margin-right: 25px;
}
.modal_window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #e6e6e6;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 4px;
}
